<header class="jumbotron jumbotron-fluid my-0 bg-primary text-white">
  <section class="container">
    <h1 class="display-4">Ibrahim - Bibliothèque</h1>
    <p class="lead">Application de gestions des fonds de bibliothèques</p>
  </section>
</header>
